/* Basic CSS Reset based on Andy Bell's Modern CSS Reset  */

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove browser defaults */
body,
h1,
h2,
h3,
h4,
p,
ul,
li {
	margin: 0;
	padding: 0;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
	list-style: none;
}

/* Make images easier to work with */
img {
	max-width: 100%;
	display: block;

}

body{
    background-color: hsl(233, 47%, 7%);
    font-size: 15px;
    text-align: center;
}

#container{
    display: flex;
    flex-direction: column;
    background-color: hsl(244, 38%, 16%);
	color:#ffffff;
    min-width: 315px;
	width: 90%;
    border-radius: 10px;
	margin: 0 auto;
    margin-top: 3.5rem;
	line-height: 1.75rem;
}

.image{
    background: linear-gradient(to top, rgba(152, 36, 224, 0.5), rgba(152, 36, 224, 0.5)), url(images/image-header-mobile.jpg) no-repeat top center;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 29vh;
    width: 100%;
}

.insights{
    color: hsl(277, 64%, 61%);
}

.head{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 25px;
    padding-top: 2rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.numbers{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: hsl(0, 0%, 100%);
}

.stat-titles{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    font-weight: lighter;
    color: hsla(0, 0%, 100%, 0.6);
    padding-bottom: 1rem;

}

footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 768px){
    #container{
        flex-direction: row-reverse;
        margin-top: 14rem;
        max-width:1100px;
        height: 28rem;
    }

    .head{

        line-height: 3rem;
        text-align: left;
        padding: 2rem;
    }


    p{
        line-height: 1.5rem;
        padding-bottom: 4rem;
    }

    .image{
        background: linear-gradient(to top, rgba(152, 36, 224, 0.5), rgba(152, 36, 224, 0.5)), url(images/image-header-desktop.jpg) no-repeat right center;
        background-size: cover;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        height: auto;
        width: 100%;
        padding-left: 5rem;
    }

    li{
        display: inline-block;
        padding-right: 1rem;
        line-height: 2rem;
    }

    @media screen and (min-width:1200px) {
        #container{
            flex-direction: row-reverse;
            margin-top: 14rem;
            max-width:1100px;
            height: 28rem;
        }
    
        .head{
            font-size: 35px;
            line-height: 3rem;
            text-align: left;
            padding: 4rem;
        }
    
    
        p{
            line-height: 1.5rem;
            padding-bottom: 4rem;
        }
    
        .image{
            background: linear-gradient(to top, rgba(152, 36, 224, 0.5), rgba(152, 36, 224, 0.5)), url(/images/image-header-desktop.jpg) no-repeat right center;
            background-size: cover;
            border-top-left-radius: 0px;
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
            height: auto;
            width: 100%;
            padding-left: 15rem;
        }
    
        li{
            display: inline-block;
            padding-right: 2rem;
            line-height: 2rem;
        }
        
    }
